// Here you can add other styles
// sidebar styles

// width: "60px", height: "50px"
a {
  text-decoration: none !important;
}

.sidebar-logo-image {
  width: 2.2rem;
  height: 2rem;
  margin-right: 1rem;
}

.sidebar-hero-text {
  font-size: 1.3rem;
  text-decoration: none;
}

.sidebar-header {
  .sidebar-hero-text {
    display: none;
  }
}
